Messages on states:
<table class="table-bordered table-striped w-100">
  <thead>
  <tr>
    <th>State</th>
    <th>Count</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let element of dataSource">
    <th>{{element.stateName}}</th>
    <th>{{element.elementsCount}}</th>
  </tr>
  </tbody>
</table>
<br>

Services availability:
<table class="table-bordered table-striped w-100">
  <thead>
  <tr>
    <th>Service</th>
    <th>Available</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let element of availabilityDataSource" [ngClass]="{'bg-danger': !element.available}">
    <th>{{element.serviceName}}</th>
    <th>{{element.available}}</th>
  </tr>
  </tbody>
</table>
